<div class="form-group" data-select2-id="15">
    <label class="col-sm-5 col-form-label">选择环境：</label>

    <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true"
            data-select2-id="10">
        <option selected="selected" data-select2-id="12">Alabama</option>
        <option data-select2-id="21">Alaska</option>
        <option data-select2-id="22">California</option>
        <option data-select2-id="23">Delaware</option>
        <option data-select2-id="24">Tennessee</option>
        <option data-select2-id="25">Texas</option>
        <option data-select2-id="26">Washington</option>
    </select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr"
                   data-select2-id="11" style="width: 100%;"><span class="selection"><span
        class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false"
        tabindex="0" aria-disabled="false" aria-labelledby="select2-yytv-container"><span
        class="select2-selection__rendered" id="select2-yytv-container" role="textbox" aria-readonly="true"
        title="Alabama">Alabama</span><span class="select2-selection__arrow" role="presentation"><b
        role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>

</div>